<div class="component">
  <div class="container">
    <!-- Marketing Icons Section -->
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">
          {{$ctrl.titre}}
          <button class="btn btn-success" ng-click="show = !show; confirm = false;" style="display: block; float: right; text-decoration: none;">Ajouter une mission</button>
        </h1>
      </div>

      <div class="col-md-12">
        <div class="panel panel-success" ng-show="show" id="ajout">
          <div class="panel-heading">
            <h4>Ajouter une mission</h4>
          </div>

          <div class="panel-heading">

            <form name="form" ng-submit="$ctrl.addToMissions()" role="form" class="form-group">

              <div class="form-group" ng-class="{ 'has-error': form.date.$touched && form.date.$error.required }"  style="display: block; margin-left: auto; margin-right: auto; width:100%;">
                <input type="date" class="form-control form-control-sm" name="date" id="date" placeholder="Date" ng-model="$ctrl.date" required />
              </div>
              <div class="form-group" ng-class="{ 'has-error': form.heure.$touched && form.heure.$error.required }"  style="display: block; margin-left: auto; margin-right: auto; width:100%;">
                <input type="time" class="form-control form-control-sm" name="heure" id="heure" placeholder="Heure" ng-model="$ctrl.heure" required />
              </div>
              <div class="form-group" ng-class="{ 'has-error': form.depart.$touched && form.depart.$error.required }"  style="display: block; margin-left: auto; margin-right: auto; width:100%;">
                <input type="text" class="form-control form-control-sm" name="depart" id="depart" placeholder="Départ" ng-model="$ctrl.depart" required />
              </div>
              <div class="form-group" ng-class="{ 'has-error': form.destination.$touched && form.destination.$error.required }"  style="display: block; margin-left: auto; margin-right: auto; width:100%;">
                <input type="text" class="form-control form-control-sm" name="destination" id="destination" placeholder="Destination" ng-model="$ctrl.destination" required />
              </div>
              <div class="form-group" ng-class="{ 'has-error': form.client.$touched && form.client.$error.required }"  style="display: block; margin-left: auto; margin-right: auto; width:100%;">
                <input type="text" class="form-control form-control-sm" name="client" id="client" placeholder="Nom du client" ng-model="$ctrl.client" required />
              </div>
              <div class="form-group" ng-class="{ 'has-error': form.clientPhone.$touched && form.clientPhone.$error.required }"  style="display: block; margin-left: auto; margin-right: auto; width:100%;">
                <input type="text" class="form-control form-control-sm" name="clientPhone" id="clientPhone" placeholder="Numéro de téléphone du client" ng-model="$ctrl.clientPhone" required />
              </div>

              <div style="text-align: center;">
                <span ng-show="form.date.$touched && form.date.$error.required" class="alert-form">Date requise.</span>
                <span ng-show="form.heure.$touched && form.heure.$error.required" class="alert-form">Heure requise.</span>
                <span ng-show="form.depart.$touched && form.depart.$error.required" class="alert-form">Départ requis.</span>
                <span ng-show="form.destination.$touched && form.destination.$error.required" class="alert-form">Destination requise.</span>
                <span ng-show="form.client.$touched && form.client.$error.required" class="alert-form">Nom du client. requis</span>
                <span ng-show="form.clientPhone.$touched && form.clientPhone.$error.required" class="alert-form">Numéro de téléphone du client requis.</span>
              </div>

              <div class="form-actions form-group">
                <button type="submit" ng-disabled="form.$invalid" ng-click="show = !show; confirm = true" class="btn btn-success btn-sm btn-block">Ajouter</button>
              </div>
            </form>
          </div>
        </div>

        <div class="panel panel-success" ng-show="confirm">
          <div class="panel-heading">
            <h4>Le trajet reliant {{$ctrl.depart}} à {{$ctrl.destination}}, demandé par {{ $ctrl.client }}, a été ajouté à la liste d'attente.</h4>
            <button class="btn btn-danger" ng-click="$ctrl.rollback(); confirm = false; rollback = true;">Annuler</button>
          </div>
        </div>

        <div class="panel panel-danger" ng-show="rollback">
          <div class="panel-heading">
            <h4>Opération annulée.</h4>
          </div>
        </div>
      </div>

      <div class="col-md-12" id="waitlist">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4><i class="fa fa-fw fa-check"></i>En attente</h4>
          </div>
          <div class="panel-body">
            <table class="table"  >
              <tr>
                <th class="col-xs-1 col-md-2 col-lg-2 display-cell">Date / Heure</th>
                <th class="col-xs-1 col-md-2 col-lg-2 display-cell">Départ</th>
                <th class="col-xs-1 col-md-2 col-lg-2 display-cell">Destination</th>
                <th class="col-xs-1 col-md-2 col-lg-2 display-cell">Client</th>
                <th class="col-xs-2 col-md-2 col-lg-2 display-cell">Tél. client</th>
                <th class="col-xs-1 col-md-2 col-lg-2 display-cell">Attribuer un chauffeur</th>
              </tr>

              <tr ng-repeat="mission in $ctrl.missions" ng-if="mission.isWaiting">
                <td class="col-xs-1">{{ mission.date }} / {{ mission.heure }}</td>
                <td>{{ mission.depart }}</td>
                <td>{{ mission.destination }}</td>
                <td class="col-xs-1">{{ mission.client }}</td>
                <td>{{ mission.clientPhone }}</td>
                <td class="centered">
                  <div>
                    <select class="form-control" name="selectBenevole" id="selectBenevole" ng-model="benevole" style="display: block; float: left;">
                      <option ng-repeat="benevole in $ctrl.listebenevoles" ng-value="benevole" ng-if="benevole.isWorking && !benevole.onDuty">
                        {{benevole.firstName}} {{benevole.name}}
                      </option>
                    </select>
                    
                    <button class="btn btn-success" ng-click="$ctrl.putOnDuty(benevole, mission);" style="display: block; float: right; text-decoration: none;"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>
                  <div>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>

      <div class="col-md-12" id="ongoing">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4><i class="fa fa-fw fa-check"></i>En cours</h4>
          </div>
          <div class="panel-body">
            <table class="table">
              <tr>
                <th class="col-xs-1 col-md-2 col-lg-2 display-cell">Date / Heure</th>
                <th class="col-xs-1 col-md-2 col-lg-2 display-cell">Départ</th>
                <th class="col-xs-1 col-md-2 col-lg-2 display-cell">Destination</th>
                <th class="col-xs-1 col-md-2 col-lg-2 display-cell">Client</th>
                <th class="col-xs-2 col-md-2 col-lg-2 display-cell">Tél. client</th>
                <th class="col-xs-2 col-md-2 col-lg-2 display-cell">Chauffeur</th>
                <th class="col-xs-1 col-md-2 col-lg-1 display-cell centered">Validation</th>
              </tr>

              <tr ng-repeat="mission in $ctrl.missions" ng-if="(mission.isWaiting === false && mission.isDone === false)">
                <td class="col-xs-1">{{ mission.date }} / {{ mission.heure }}</td>
                <td>{{ mission.depart }}</td>
                <td>{{ mission.destination }}</td>
                <td class="col-xs-1">{{ mission.client }}</td>
                <td>{{ mission.clientPhone }}</td>
                <td>{{ mission.driver.firstname }} {{ mission.driver.name}} </td>
                  <td class="centered"><button class="btn btn-secondary glyphicon glyphicon-ok" ng-click="$ctrl.archive(mission)"></button></td>
              </tr>
            </table>
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4><i class="fa fa-fw fa-check"></i> Historique</h4>
          </div>
          <div class="panel-body">
            <table class="table">
              <tr>
                <th class="col-xs-1 col-md-2 col-lg-2 display-cell">Date / Heure</th>
                <th class="col-xs-1 col-md-2 col-lg-2 display-cell">Départ</th>
                <th class="col-xs-1 col-md-2 col-lg-2 display-cell">Destination</th>
                <th class="col-xs-1 col-md-2 col-lg-3 display-cell">Client</th>
                <th class="col-xs-1 col-md-2 col-lg-3 display-cell">Chauffeur</th>
              </tr>
              <tr ng-repeat="mission in $ctrl.missions" ng-if="mission.isDone">
                <td>{{ mission.date }} / {{ mission.heure }}</td>
                <td>{{ mission.depart }}</td>
                <td>{{ mission.destination }}</td>
                <td>{{ mission.client }}</td>
                <td>{{ mission.driver.firstname }} {{ mission.driver.name }}</td>

              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>

  <center><button class="btn btn-danger btn-sm" ng-click="$ctrl.dataTest()"> Données test</button> <button class="btn btn-warning btn-sm" ng-click="$ctrl.deleteData()">Supprimer les données en cache</button></center>

  </div>
</div>