<div class="component">

<!-- Page Content -->
    <div class="container">

        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Bienvenue
                </h1>
            </div>
            <div class="col-md-2" style="text-align: center;">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-check"></i> Ajouter une mission</h4>
                    </div>
                    <div class="panel-body">
                        <p><a href="/missions" class="glyphicon glyphicon-plus-sign" style="font-size: 50px; color:black; text-decoration:none;"></a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-2" style="text-align: center;">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-check"></i> Missions en cours</h4>
                    </div>
                    <div class="panel-body">
                        <p><a href="/missions" class="glyphicon glyphicon-th-list" style="font-size: 50px; color:black; text-decoration:none;"></a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-2" style="text-align: center;">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-check"></i> Bénévoles disponibles</h4>
                    </div>
                    <div class="panel-body">
                        <p><a href="/benevoles#actifs" class="glyphicon glyphicon-user" style="font-size: 50px;color:black; text-decoration:none;"></a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-2" style="text-align: center;">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-check"></i> Bénévoles inactifs</h4>
                    </div>
                    <div class="panel-body">
                        <p><a href="/benevoles#inactifs" class="glyphicon glyphicon-list-alt" style="font-size: 50px;color:black; text-decoration:none;"></a></p>
                    </div>
                </div>
            </div>
            

        

        

    </div>
    <!-- /.container -->

    </div>