<div class="component">
  <div class="container">
    <!-- Marketing Icons Section -->
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">
          {{$ctrl.titre}}
          <a href="#" class="glyphicon glyphicon-plus-sign" style="display: block; float: right; text-decoration: none; color: black;">
          </a>
        </h1>

      </div>



      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4><i class="fa fa-fw fa-check"></i> Bénévoles en service</h4>
          </div>
          <div class="panel-body">
            <table class="table">
              <tr>
                <th class="hidden-xs col-md-2 col-lg-1 display-cell">Titre</th>
                <th class="col-xs-2 col-md-2 col-lg-2 display-cell">Nom</th>
                <th class="col-xs-2 col-md-2 col-lg-2 display-cell">Prénom</th>
                <th class="hidden-xs col-md-2 col-lg-3 display-cell">Adresse</th>
                <th class="col-xs-3 col-md-2 col-lg-3 display-cell">Téléphone</th>
                <th class="col-xs-1 col-md-1 col-lg-1 display-cell centered">Mettre en congé</th>
              </tr>
              <tr>
                <td class="hidden-xs">Monsieur</td>
                <td>A</td>
                <td>Bert </td>
                <td class="hidden-xs">Rue de la route 7 3000 Bern</td>
                <td>012 345 67 89</td>
                <td class="centered"><button class="btn btn-secondary glyphicon glyphicon-remove"></button></td>
              </tr>
              <tr>
                <td class="hidden-xs">Monsieur</td>
                <td>A</td>
                <td>Bert </td>
                <td class="hidden-xs">Rue de la route 7 3000 Bern</td>
                <td>012 345 67 89</td>
                <td class="centered"><button class="btn btn-secondary glyphicon glyphicon-remove"></button></td>
              </tr>
              <tr>
                <td class="hidden-xs">Monsieur</td>
                <td>A</td>
                <td>Bert </td>
                <td class="hidden-xs">Rue de la route 7 3000 Bern</td>
                <td>012 345 67 89</td>
                <td class="centered"><button class="btn btn-secondary glyphicon glyphicon-remove"></button></td>
              </tr>
            </table>
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4><i class="fa fa-fw fa-check"></i> Bénévoles inactifs</h4>
          </div>
          <div class="panel-body">
            <table class="table">
              <tr>
                <th class="hidden-xs col-md-2 col-lg-1 display-cell">Titre</th>
                <th class="col-xs-2 col-md-2 col-lg-2 display-cell">Nom</th>
                <th class="col-xs-2 col-md-2 col-lg-2 display-cell">Prénom</th>
                <th class="hidden-xs col-md-2 col-lg-3 display-cell">Adresse</th>
                <th class="col-xs-3 col-md-2 col-lg-2 display-cell">Téléphone</th>
                <th class="col-xs-1 col-md-1 col-lg-1 display-cell centered">Mettre en activité</th>
                <th class="col-xs-1 col-md-1 col-lg-1 display-cell centered">Supprimer</th>

              </tr>
              <tr>
                <td class="hidden-xs">Monsieur</td>
                <td>A</td>
                <td>Bert </td>
                <td class="hidden-xs">Rue de la route 7 3000 Bern</td>
                <td>012 345 67 89</td>
                <td class="centered"><button class="btn btn-success glyphicon glyphicon-ok"></button></td>
                <td class="centered"><button class="btn btn-danger glyphicon glyphicon-remove-circle"></button>
                </td>
              </tr>
              <tr>
                <td class="hidden-xs">Monsieur</td>
                <td>A</td>
                <td>Bert </td>
                <td class="hidden-xs">Rue de la route 7 3000 Bern</td>
                <td>012 345 67 89</td>
                <td class="centered"><button class="btn btn-success glyphicon glyphicon-ok "></button></td>
                <td class="centered"><button class="btn btn-danger glyphicon glyphicon-remove-circle"></button>
                </td>
              </tr>
              <tr>
                <td class="hidden-xs">Monsieur</td>
                <td>A</td>
                <td>Bert </td>
                <td class="hidden-xs">Rue de la route 7 3000 Bern</td>
                <td>012 345 67 89</td>
                <td class="centered"><button class="btn btn-success glyphicon glyphicon-ok"></button></td>
                <td class="centered"><button class="btn btn-danger glyphicon glyphicon-remove-circle"></button>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>


      <!---
    <div class="contenu">
      <div class="titre">{{$ctrl.titre}}</div>
      <div class="row">
        <div class="col-xs-12 col-md-4 col-lg-3">
          test
        </div>
        <div class="col-xs-12 col-md-8 col-lg-9">
          <table class="row display-table">
            <thead class="column-titles">
              <tr>
                <th class="hidden-xs col-md-2 col-lg-1 display-cell column-titles">Titre</th>
                <th class="col-xs-2 col-md-2 col-lg-2 display-cell column-titles">Nom</th>
                <th class="col-xs-2 col-md-2 col-lg-2 display-cell column-titles">Prénom</th>
                <th class="hidden-xs col-md-2 col-lg-3 display-cell column-titles">Adresse</th>
                <th class="col-xs-3 col-md-2 col-lg-2 display-cell column-titles">Téléphone</th>
                <th class="col-xs-1 col-md-2 col-lg-2 display-cell column-titles">En service</th>
              </tr>
            </thead>
          </table>
        </div>
      </div>-->

    </div>
  </div>