<div class="component">
  <div class="container">
    <div class="contenu">
      <div class="titre">{{$ctrl.titre}}</div>
      <div class="row">
       <div class="col-xs-12 col-md-4 col-lg-3">
         test
        </div>
                <div class="col-xs-12 col-md-8 col-lg-9">
 <table class="row display-table">
            <thead class="column-titles">
              <tr>
                <th class="col-xs-2 col-md-2 col-lg-2 display-cell">Nom</th>
                <th class="col-xs-2 col-md-2 col-lg-2 display-cell">Prénom</th>
                <th class="hidden-xs col-md-2 col-lg-3 display-cell">Adresse</th>
                <th class="col-xs-3 col-md-2 col-lg-2 display-cell">Téléphone</th>
                <th class="col-xs-1 col-md-1 col-lg-1 display-cell">Disponible</th>
              </tr>
            </thead>
          </table>
          </div>
      </div>
    </div>
  </div>